.banner {
    background-image: url(./starter-files/Images/image1.jpg);
    background-attachment: fixed;
    height: 80vh;
}

.heading {
    top: 50%;  
}

.image {
    bottom: 50px;
    right: 0px;
}

img {
    width: 350px;
    height: 350px;
}

@media screen and (min-width: 992px) {
  .width-65 {
    width: 65%;
    margin-inline: auto;
  }
}