/* Color Theme Swatches in */
.bgcolor-light-gray {
  background-color: #a6a6a6;
}
.bgcolor-gray {
  background-color: #8c8c8c;
}
.bgcolor-dark-brown {
  background-color: #402722;
}
.bgcolor-brown {
  background-color: #73534c;
}

.color-brown {
  color: #73534c;
}
.bgcolor-white {
  background-color: #f2f2f2;
}

.banner {
  background-image: url("./starter-files/Images/contact.webp");
  background-attachment: fixed;
  height: 80vh;

  @media screen and (max-width: 425px) {
    height: 50vh;
    background-position: center;
  }
}

.heading {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
  .width-65 {
    width: 65%;
    margin-inline: auto;
  }
}
