.carousel-caption-1,
.carousel-caption-2,
.carousel-caption-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel img {
  height: 100vh;
}

.parallax-1 {
  background-image: url("./starter-files/Images/lights.jpg");
  background-position: end;
  background-attachment: fixed;
  height: 30vh;
}

.parallax-2 {
  background-image: linear-gradient(
      163deg,
      rgba(110, 106, 106, 0.4822303921568627) 0%,
      rgba(36, 36, 38, 1) 100%
    ),
    url("./starter-files/Images/media.jpg");
  background-position: center;
  background-attachment: fixed;
  height: 30vh;
}

@media screen and (min-width: 992px) {
  .width-65 {
    width: 65%;
    margin-inline: auto;
  }
}
